<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.simon.catkins.demo"
          android:versionCode="1"
          android:versionName="1.0-SNAPSHOT">

    <uses-sdk
            android:targetSdkVersion="17"
            android:minSdkVersion="14"/>

    <application
            android:theme="@style/Theme.Base"
            android:icon="@drawable/icon"
            android:label="@string/app_name">
        <activity android:name=".app.StackLayoutDemoActivity"/>

        <activity android:name=".app.StackLayoutWithFragmentDemoActivity"/>

        <activity android:name=".app.refresher.RefresherViewFromXmlActivity"/>

        <activity android:name=".app.image.ImageSurfaceViewActivity"/>
        <activity android:name=".app.VerticalViewPagerActivity"/>
        <activity android:name=".app.RevertAddingLinearLayoutActivity"/>
        <activity android:name=".app.PinnedHeaderListViewDemoActivity"/>
        <activity android:name=".app.IndicatorDemoActivity"/>
        <activity android:name=".app.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".app.DemoDetailActivity"/>
        <activity
                android:name=".app.DemoListActivity"
                android:screenOrientation="landscape"/>
    </application>

</manifest>

