<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bbsimon.android.demo"
          android:versionCode="1"
          android:versionName="1.0-SNAPSHOT">

    <uses-sdk
            android:targetSdkVersion="17"
            android:minSdkVersion="8"/>

    <application
            android:theme="@style/DefaultTheme"
            android:icon="@drawable/icon"
            android:label="@string/app_name">
        <activity android:name=".app.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".app.demo.FlipperLayoutDemoActivity"/>

        <activity android:name=".app.demo.Flip3DLayoutDemoActivity"/>

        <activity android:name=".app.demo.StackLayoutDemoActivity"/>

        <activity android:name=".app.demo.StackLayoutWithFragmentDemoActivity"/>

        <activity android:name=".app.demo.HorizontalTranslateLayoutActivity"/>

        <activity android:name=".app.demo.refresher.RefresherViewFromXmlActivity"/>
    </application>

</manifest>

